* {
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #e5e5e5;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.image-block {
  width: 100%;
  height: auto;
  padding-top: 50px;
}
.image-block img {
  border-radius: 16px;
  width: 100%;
  object-fit: contain;
}
/* Tablet */
@media screen and (max-width: 1024px) {
  .container {
    padding-bottom: 24px;
  }
  .image-block {
    padding: 24px 24px 0px 24px;
  }
  .image-block img {
    border-radius: 8px;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .container {
    padding-bottom: 12px;
  }
  .image-block {
    padding: 12px 12px 0px 12px;
  }
  .image-block img {
    border-radius: 4px;
  }
}
